body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    padding: 0;
    background-color: white;

  }
  
   .gi-container{
    width: 100%;
    height: 615px;
   /* background: url(/public/Images/gi-bg.png)  center/cover no-repeat; */
   /* background-size: auto; */
   }                  
 img {
    width: 100%;
    height: 615px;
  
    display: block;
   
   
}
.gi-image{
  opacity: 1;
}
.whyUs-container{
    display: flex;
    justify-content: center;
}

.whyUs-content{ 

    width: 620px;
     height: 350px;

    border-radius: 40px;
    margin: 15px;
    margin-top: 25px;
    padding: 20px;
    font-size: 18px;
  
}

.para_W{
  font-family: Poppins;
  text-align: justify;
}
.btn{
    padding: 16px 100px;
    border: 2px solid white;
    border: border-box;
    background-color:rgb(228, 15, 15);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    font-weight: 900;
    transition: all 0.3s ease-in;
    border-radius: 45px;
    cursor:pointer;
  }
  .btn:hover{
    background-color: white;
    color: black;
    border: 2.5px solid red;
    box-shadow: 0 0 100px rgba(231, 85, 85, 0.2);
  }
                          

                             