.admin_div{
    
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 75px;
    margin-bottom: -40px;
        height: 45%;
    }

    .flip-card {
        background-color: transparent;
        width: 150px;
        height: 150px;
        perspective: 1000px;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-card-front img{
        width: 150px;
        height: 150px;
      }
    
      .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
        font-size: 10px;
      }
    
      .admin_pic{
       margin-left: 600px;
       margin-top: 10px;
       }