body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
   
  .grid-container{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 175px 175px 175px 175px 175px 175px;
    justify-content: center;
    }
    
    
    #goal{
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
    }                          
    .img2{
    height: 175px;
    width: 175px;
   
    border-radius: 18px;
    }
    .img2:hover{
      transform: scale(1.05);
      cursor: pointer;
    }
                        /* suggestion box starts*/
    
    .suggestion-container{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
    
    .suggestion-content{ 
    
       width: 620px;
       height: 350px;
       border-radius: 40px;
      margin: 1px;
      margin-top: 25px;
      padding: 20px;
      font-size: 20px;
    
    }
    
    .para_S{
      padding-top: 15px;
      margin-left: 0px;
      justify-content: left;
    }
    
    #suggestion-box {
      width: 400px;
      margin: 50px auto;
      padding: 20px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    form {
      display: flex;
      flex-direction: column;
    }
    
    label {
      width: fit-content;
      margin-bottom: 8px;
      font-weight: bold;
      color: #333;
    }
    option{
      font-size: 15px;
    }
    select,
    textarea {
      width: calc(100% - 12px);
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      background-color: #f9f9f9;
    }
  
    textarea {
      resize: vertical; 
    }
    
    input[type="submit"] {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      font-size: 20px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    input[type="submit"]:hover {
      background-color: #0056b3;
    }
                          /* suggestion box ends*/
      
    