body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
                        /*NAVBAR STARTS*/
  
  #navbar {
    background-color: whitesmoke;
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    top: 0%;
  z-index: 999;
    height: 79px;
  }
  .active{
    background-color: #ddd;
    color: black;
  }
  #logo-container{
    display: flex;
  float:left;
  margin-right: 20px;  
  border-radius: 50%;
  }
  
  #sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    float:right;
    margin-right: 20px;  
    border-radius: 50%;
    }
  .user_name{
    color: #333;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  #logo, #sign img{
    height: 45px;
    margin: 3px;
    padding-top: 14px;
    width:auto;
    border-radius: 50%;
  }
  #logo{
    margin-left: 20px;
  }
  #sign img{
    margin-top: 10px;
    height: 35px;
    width: 35px;
    padding: 0px;
    border-radius: 50%;
  }
  #text-image{
    height: 45px;
    width: 140px;
    padding: 16px 12px;
  margin: 0px;  
  border-radius: 0%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li  {
    display: block;
    color: #333;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    padding: 17px 23px;
    margin-top: 11px;
    border-radius: 40px;
    text-decoration: none;
  }
  
  li:hover {
    background-color: #b8b0b0;
    color: white;
  }
  #search-panel {
    float: left;
    margin: 9px;
border: 1px solid #a48139;
    margin-top: 20px;
   
    border-radius: 5px;
  }
  
  #search-input {
    padding: 10px;
    border: none;
    width: 300px;
   
    text-align: left;
    border-radius: 5px;
  }
  
  
 