
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-color: whitesmoke;
  text-align: center;

  
}
* {
    margin: 0px;
  text-align: center;
  


}

#logo1{
  display: flex;
  left: 44.8%;
  top: 1%;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  margin-top: 10px;
  cursor: pointer;
  }

#name_1{
  overflow-wrap: break-word;
 
  color: #2d777c;
  margin-top: 170px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}



.item{ 
 
  width: 180px;
   height: 134px;
   display: flex;
   flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Verdan;
  border-radius: 10px;
  margin: 12px;
  /* margin-top: 25px; */
  padding: 20px;
  font-size: 11px;
  text-transform: uppercase;
  /* box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); */
  border-radius: 14px;
  background: linear-gradient(145deg, #e8eae8, #fbfffe); 
/*box-shadow:  13px 13px 26px #b5b9b6,
             -13px -13px 26px #ffffff; */
             box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
             
}
.item:hover {
  transform: scale(1.02);
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  /* background-color: rgb(209, 204, 197); */
  box-shadow:  13px 13px 26px #b5b9b6,
             -13px -13px 26px #ffffff; 
  transition: all 0.4s ease-in-out;
}
.box-title{
  margin: 10px 0px 0px 0px;
  font-family:sans-serif;
  font-size: 12px;
  font-weight: 500;
}
#boxrow1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
 
}

#boxrow2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
}

#logo2{
  height: 130px;
  width: 130px;
  border-radius: 50%;
 opacity: 0.8;
}

.btn1{
  padding: 16px 20px;
  border: border-box;
  background-color:rgb(228, 15, 15);
  color: white;
 /* border: 2px solid rgb(239, 239, 206);
  background-color:rgb(19, 213, 97);
  color: white;*/
  font-weight: 700;
  margin: 17px;
  font-size: 1.3rem;
   transition: all 0.3s ease-in;
  border-radius: 36px;
  cursor:pointer;
  border: none;
}
.btn1:hover{
  background-color: whitesmoke;
 
    color: black;
    border: 2.5px solid red;
    
 /* border: 2.5px solid rgb(0, 255, 51);
  box-shadow: 0 0 100px rgba(231, 85, 85, 0.2);*/
}